.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
  }
  .container-login {
    width: 450px;
    padding: 20px;
    text-align: center;
  }
  .container-login h2 {
    margin-bottom: 20px;
    
    color: #333;
  }
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #D8DCFF;
    border: 1px solid #ddd;
    font-size: 14px;
  }
  .link-esqueci-senha {
    display: block;
    margin-bottom: 20px;
    font-size: 12px;
    color: #007bff;
    text-decoration: none;
  }
  .link-esqueci-senha:hover {
    text-decoration: underline;
  }
  .container-login .botao-login {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #004de6;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10px;
  }
  .botao-login:hover {
    background-color: #007bdf;
  }
  .link-criar-conta {
    display: flex;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    border: 1px solid #0F3596;
    font-weight: bold;
    font-size: medium;
    color: #0F3596;
    height: 40px;
    border-radius: 5px;
  }