/* index e modal */
.slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #000;
    color: #fff;
    height: 60vh;
    padding: 50px;
    position: relative;
}

    .slide img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1; 
    }

.slide-conteudo {
    z-index: 1; 
    max-width: 600px;
}

.slide h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.slide p {
    font-size: 1.5em;
}

.mais-vendidos {
    padding: 50px;
    background: #000;
    color: #fff;
}

    .mais-vendidos h2 {
        display: inline-block;
        margin-right: 20px;
    }

.mais-vendidos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.ver-tudo-btn {
    padding: 5px 15px; 
    background-color: #000; 
    color: #fff; 
    border: 1px solid #fff; 
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-decoration: none; 
}

    .ver-tudo-btn:hover {
        background-color: #333; 
    }


.mais-vendidos-carros {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top-carros {
    background: #333;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

    .top-carros img {
        max-width: 100%;
    }

    .top-carros .top-carros-info {
        margin-top: 10px;
    }

.electrificacao {
    padding: 50px;
    background: #f9f9f9;
}

.electrificacao-tipo {
    display: flex;
    justify-content: space-between;
}

.tipo {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin: 0 10px;
}

.parceiros {
    padding: 50px;
    text-align: center;
}

.logos-parceiros {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 20px 0;
}

    .logos-parceiros img {
        max-width: 100px;
    }

footer {
    background: #000;
    color: #fff;
    padding: 20px 0;
}

.footer-conteudo {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
}

.footer-section {
    flex: 1;
    padding: 0 20px;
}

.footer-copyright {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #fff;
}

/* modal */
.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(90vh - 1rem);
}

.modal-content {
    width: 100%;
    max-width: 350px;
    height: auto;
    min-height: 480px;
    margin: auto;
}

.modal-header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.modal-body {
    padding: 20px;
}

    .modal-body h4 {
        margin-top: 10px;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .modal-body p {
        margin-top: 20px;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .modal-body ul {
        list-style: none;
        padding: 0;
    }

        .modal-body ul li {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
        }

            .modal-body ul li img {
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

        .modal-body ul li {
            margin-bottom: 10px;
        }

.modal-footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-top: 1px solid #ddd;
}

    .modal-footer .btn {
        width: 48%;
    }

.modal-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#btn-sessao {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 20px;
    margin-top: 15px;
}

#btn-conta {
    background-color: transparent;
    color: #007bff;
    border: 1px solid #007bff;
    padding: 15px 20px;
}
