@{
    ViewData["Title"] = "Home Page";
}

<div class="slide">
    <img src="~/images/car-background.jpg" alt="carro">
    <div class="slide-conteudo">
        <h1>Comece sua aventura elétrica com a OverHaul</h1>
        <p>Revolucionando sua Experiência de Condução!</p>
    </div>
</div>

<section class="mais-vendidos">
    <div class="mais-vendidos-header">
        <h2>Mais vendidos</h2>
        <button type="button" class="ver-tudo-btn" onclick="window.location.href='@Url.Action("Carros", "Home")'">Ver Tudo</button>
    </div>

    <div class="mais-vendidos-carros">
        <div class="top-carros">
            <img src="~/images/car1.jpg" alt="Carro 1">
            <div class="top-carros-info">
                <p>Marca</p>
                <p>Nome</p>
                <p>100% elétrico</p>
                <p>A partir de R$ 300.950</p>
                <a href="#">Mais Detalhes ></a>
            </div>
        </div>
        <div class="top-carros">
            <img src="~/images/car2.jpg" alt="Carro 2">
            <div class="top-carros-info">
                <p>Marca</p>
                <p>Nome</p>
                <p>100% elétrico</p>
                <p>A partir de R$ 300.950</p>
                <a href="#">Mais Detalhes ></a>
            </div>
        </div>
        <div class="top-carros">
            <img src="~/images/car3.jpg" alt="Carro 3">
            <div class="top-carros-info">
                <p>Marca</p>
                <p>Nome</p>
                <p>100% elétrico</p>
                <p>A partir de R$ 300.950</p>
                <a href="#">Mais Detalhes ></a>
            </div>
        </div>
    </div>
</section>

<section class="electrificacao">
    <h2>Descubra a eletrificação</h2>
    <div class="electrificacao-tipo">
        <div class="tipo">
            <h3>Carros 100% elétricos</h3>
            <p>Os nossos carros 100% elétricos oferecem uma condução sem emissões sem comprometer a autonomia e a potência.</p>
            <a href="#">Carros 100% elétricos ></a>
            <img src="~/images/carro-eletrico.jpg" alt="Carro Elétrico">
        </div>
        <div class="tipo">
            <h3>Carros híbridos plug-in</h3>
            <p>Os nossos carros híbridos plug-in oferecem uma condução eficiente combinada com a flexibilidade de um motor a combustão.</p>
            <a href="#">Carros híbridos plug-in ></a>
            <img src="~/images/carro-hibrido.jpg" alt="Carro Híbrido">
        </div>
    </div>
</section>

<section class="parceiros">
    <h2>Carros de marcas parceiras</h2>
    <p>Na OverHaul, você encontra os melhores carros elétricos e híbridos das marcas mais renomadas do mercado automotivo. Explore nossa seleção e descubra veículos que combinam inovação, sustentabilidade e performance de marcas líderes mundiais.</p>
    <div class="logos-parceiros">
        <img src="~/images/bmw.png" alt="BMW">
        <img src="~/images/mercedes.png" alt="Mercedes">
        <img src="~/images/nissan.png" alt="Nissan">
        <img src="~/images/toyota.png" alt="Toyota">
        <img src="~/images/audi.png" alt="Audi">
    </div>
</section>


}
