<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OverHaul</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <script src="~/js/site.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    
    <div class="login-section">
        <div class="login-div">
            <h2>Inicie sessão com a sua Haul ID</h2>
            <form action="/Home/Login" method="post">
                <div class="form-login">
                    <label for="email">Digite o Haul ID (e-mail ou telefone)</label>
                    <input type="text" id="email" name="email" class="form-conteudo">
                </div>
                <div class="form-login">
                    <label for="password">Insira sua senha</label>
                    <input type="password" id="password" name="password" class="form-conteudo">
                </div>
                <a href="#" class="esqueceu-senha">Esqueci minha senha</a>
                <button type="submit" class="btn btn-login">Login</button>
            </form>
            <button id="btn-criar-conta" class="btn btn-criar-conta">Criar Conta</button>
        </div>
    </div>


</body>
</html>
