<h2>Menu de Administrador</h2>
<ul>
    <li><a asp-action="AdicionarCarro">Adicionar Novo Carro</a></li>

    <li><a asp-action="TodosCarros">Excluir ou Atualizar Carro</a></li>

    <li><a asp-action="VerificarTestDrives">Verificar Todos os Test Drives Agendados</a></li>

    <li><a asp-action="VerificarPedidos">Verificar Todos os Pedidos</a></li>
</ul>
